
[probe]
pin: PA4
x_offset: 0.0
y_offset: 0.0
# Calibrate your Z Offset per: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-z-offset
#z_offset: -0.20
speed: 1
lift_speed: 5
samples_tolerance: 0.02
samples_tolerance_retries: 3
samples: 4
samples_result: median  #use the average of the two middle values in the sampled set
activate_gcode:
	TARE_PROBE

[gcode_macro TARE_PROBE]
description: Tare probe once
gcode:
  SET_PIN PIN=probe_tare VALUE=0
  G4 P250
  SET_PIN PIN=probe_tare VALUE=1
  G4 P250
  {action_respond_info("Probe tared")}

[safe_z_home]
home_xy_position: 117.5,117.5
speed: 100
z_hop: 5


# NOTE: The Optical Switch on the CR6 is currently NOT USED by Klipper.
# This output_pin definition is for commanding the daughterboard processor to TARE the probe
[output_pin probe_tare]
pin: !PA5
value: 1