out
*.so
*.pyc
.config
.config.old
klippy/.version
test\*.*
klippy/extras/t5uid1/Was/*.*
*.bak
Latest_Release_Assets/*.*
Latest_Release_Assets/Related Changes/*.*
Latest_Release_Assets/Related Changes/BTT SKR CR6 Only/*.*
Latest_Release_Assets/Related Changes/Creality CR6 Mobo/*.*
Latest_Release_Assets/Related Changes/Test Printer Config Files/*.*
