[t5uid1_routine message_timeout]
# Clear the displayed message field, after <delay> seconds
trigger: manual
delay: 10
script: {% do set_message("") %}

[t5uid1_routine print_start]
trigger: manual
delay: 0
script: {% do switch_page("print_status") %}

[t5uid1_routine print_end]
trigger: manual
delay: 0
script:
  {% set sound = printer.t5uid1.notification_sound %}
  {% if sound >= 0 %}
    {% do play_sound(sound) %}
  {% endif %}
  # Reset feedrate and flowrate multipliers, to solve Issue 47
  M220 S100
  M221 S100
  {% do switch_page("print_finished") %}
run_as_gcode: true

[t5uid1_routine trigger_full_update]
trigger: manual
delay: 0
script: 
  {% if not is_busy() %}
    {% do full_update() %}
  {% endif %}

[t5uid1_routine show_wait_screen]
trigger: manual
delay: 0
script: {% do switch_page("wait") %}

[t5uid1_routine show_probing_screen]
trigger: manual
delay: 0
script: 
  {% do set_variable("line1","Now running macro") %}
  {% do set_variable("line2", (get_variable("current_macro_name"))) %}
  {% do switch_page("leveling_probing") %}

[t5uid1_routine reset_bltouch]
trigger: manual
script:
  {% if printer.t5uid1.has_bltouch %}
    BLTOUCH_DEBUG COMMAND=reset
    BLTOUCH_DEBUG COMMAND=pin_up
  {% endif %}
run_as_gcode: true

[t5uid1_routine __wait_return]
trigger: enter
page: wait
interval: 1
script:
  {% if not is_busy() %}
    {% set sound = get_variable("wait_return_sound", -1) %}
    {% if sound >= 0 and sound <= 255 %}
      {% do set_variable("wait_return_sound", -1) %}
      {% do play_sound(sound) %}
    {% endif %}
    {% set page = get_variable("wait_return", "")|default("home", true) %}
    {% do set_variable("wait_return", "") %}
    {% do switch_page(page) %}
  {% endif %}

[t5uid1_routine __probing_return]
trigger: enter
page: leveling_probing
interval: 1
script:
  {% if not is_busy() %}
    {% set sound = printer.t5uid1.notification_sound %}
    {% if sound >= 0 %}
      {% do play_sound(sound) %}
    {% endif %}
    {% do switch_page("leveling_automatic") %}
    {% do set_message("Use SAVE_CONFIG if is OK") %}
  {% endif %}

[t5uid1_routine __boot]
# At boot time:
#  1. Set the state of the RunOut sensor according to the last state saved in variables.cfg
#  2. Set the Files Scroll Index value to 0
trigger: enter
page: boot
delay: 3
script: 
  {% do switch_page("home") %}
  # Klipper automatically enables the RunoutSensor, with printer.cfg setup to Pause at Runout = True
  # Rather than ask the user to edit printer.cfg each time they change their minds, this script 
  # restores the last selected Runout Sensor state (Enabled=1 or Disabled=0) in variables.cfg
  {% if not 'save_variables' in printer %}
    {% do set_message("[save_variables] not found") %}
  {% else %}
    SET_FILAMENT_SENSOR
    G4 P2500
  {% endif %}
  {% do set_variable("scroll_index", 0) %}
  {% set preset_value = get_preset_values("unload_filament_after_print", none) | int %}
  {% if preset_value == 1 %}
    {% do set_variable("unload_filament_after_print", 1) %}
    SAVE_VARIABLE VARIABLE=unload_filament_after_print VALUE=1
  {% elif preset_value == 0 %}
    {% do set_variable("unload_filament_after_print", 0) %}
    SAVE_VARIABLE VARIABLE=unload_filament_after_print VALUE=0
  {% else %}
    M117 Auto Unload needs Setup!
  {% endif %}
  M117 Printer Ready
run_as_gcode: true

[t5uid1_routine __print_status_pause]
# Use t5uid1.check_paused function to switch the display from print_status to paused_print when print is paused - whether by button press or by macro
# NOTE: At v1.2.6, removed do switch_page() from here, to avoid a display page toggling conflict with the t5uid1.check_paused function
# Also shortened the interval from 5 to 2, to speed-up the page change
trigger: enter
page: print_status
interval: 2
script: {% do check_paused() %}

[t5uid1_routine __paused_print]
# Do not increment print elapsed time while print is paused
# Use t5uid1.check_paused function to switch the display back from paused_print to print_status page, when print is resumed
# NOTE: At v1.2.6, removed do switch_page() from here, to avoid a display page toggling conflict with the t5uid1.check_paused function
# Also shortened the interval from 5 to 2, to speed-up the page change
trigger: enter
page: print_paused
interval: 2
script: {% do check_paused() %}

[t5uid1_routine __print_adjust_resume]
# Do not measure print elapsed time while print is paused AND on Tune menu
trigger: enter
page: paused_print_adjust
interval: 5
script: {% do check_paused() %}

[t5uid1_routine __move]
# If the printer is "Busy", abort the switch to the Move page
# Else, select the 10mm step size as the default move increment
trigger: enter_pre
page: move
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% else %}
    {% do set_variable("move_steps", printer.t5uid1.constants.step_size_10) %}
  {% endif %}

[t5uid1_routine __leveling_menu]
trigger: enter_pre
page: leveling_menu
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% elif printer.toolhead.homed_axes == "xyz" %}
    {% set t5uid1 = printer.t5uid1 %}
    {% set x = (t5uid1.limits.x_min + t5uid1.limits.x_max) / 2.0 %}
    {% set y = (t5uid1.limits.y_min + t5uid1.limits.y_max) / 2.0 %}
    {% if printer.gcode_move.gcode_position.z < 10 %}
      G1 Z10 F600
    {% endif %}
    G1 X{x} Y{y} F4800
  #{% else %}
   # { abort_page_switch() }
   # {% do set_variable("line1", "") %}
   # {% do set_variable("line2", "Homing...") %}
   # {% do set_variable("line3", "") %}
   # {% do set_variable("line4", "") %}
   # {% do set_variable("wait_return", "leveling_menu") %}
   # G28
   # {% do start_routine("show_wait_screen") %}
  {% endif %}
run_as_gcode: true

[t5uid1_routine __leveling_manual]
trigger: enter_pre
page: leveling_manual
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% elif printer.toolhead.homed_axes != "xyz" %}
    { abort_page_switch() }
    {% do set_variable("line1", "") %}
    {% do set_variable("line2", "Homing...") %}
    {% do set_variable("line3", "") %}
    {% do set_variable("line4", "") %}
    {% do set_variable("wait_return", "leveling_manual") %}
    G28
    {% do start_routine("show_wait_screen") %}
  {% elif 'bed_mesh' in printer %}
    # BED_MESH_PROFILE SAVE=t5uid1_mesh_backup
    BED_MESH_CLEAR
  {% endif %}
run_as_gcode: true

#[t5uid1_routine __leveling_manual_leave]
#trigger: leave
#page: leveling_manual
#script:
#  {% if 'bed_mesh' in printer %}
#    BED_MESH_PROFILE LOAD=t5uid1_mesh_backup
#    BED_MESH_PROFILE REMOVE=t5uid1_mesh_backup
#  {% endif %}
#run_as_gcode: true

[t5uid1_routine __leveling_automatic]
trigger: enter_pre
page: leveling_automatic
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% elif 'bed_mesh' not in printer %}
    {% do set_message("Missing config: bed_mesh") %}
    { abort_page_switch() }
  {% elif 'probe' not in printer %}
    {% do set_message("Missing config: probe") %}
    { abort_page_switch() }
  {% else %}
    {% set profiles_keys = printer['bed_mesh'].profiles.keys() %}
    {% do set_variable("printer_profile_names",profiles_keys) %}
    {% set presets_macro_names = [] %}
    {% set presets_profile_names = [] %}
    {% do get_abl_profiles(presets_macro_names, presets_profile_names) %}
    {% do set_variable("abl_macro_list", presets_macro_names) %}
    {% do set_variable("abl_profile_list", presets_profile_names) %}
    {% do set_variable("profile_index", 0) %}
    {% do set_variable("macro_index", 0) %}
  {% endif %}


[t5uid1_routine __capture_Virtual_SD_Filenames]
trigger: enter_pre
page: print_menu
interval: 2
script: {% do capture_gcode_files('~/printer_data/gcodes') %}

[t5uid1_routine __build_macros_menu]
trigger: enter_pre
page: macros
interval: 2
script:
  {% set macro_menu_section = get_variable("macro_menu_section") %}
  {% set macro_menu_names = capture_macros_list(macro_menu_section) or [] %}
  M118 Raw Registration Status { get_macro_registration_status(macro_menu_names) }
  {% set macro_registration_status = get_macro_registration_status(macro_menu_names) or [] %}
  {% set max_visible_lines = 9 %}
  {% do set_variable("macro_menu_names", macro_menu_names) %} 
  {% do set_variable("macro_registration_status", macro_registration_status) %}    
  {% do set_variable("macro_menu_index", 0) %}
  {% do set_variable("highlighted_index", 0) %}
  {% do set_variable("visible_start", 0) %} 
  {% do set_variable("max_visible_lines", max_visible_lines) %}
  {% do set_variable("page_number", 1) %}
  {% set number_of_pages = (macro_menu_names|length + max_visible_lines - 1) // max_visible_lines %}
  {% do set_variable("number_of_pages", number_of_pages) %}
  M118 Menu { macro_menu_section } Count { macro_menu_names|length }
  M118 Registered { macro_registration_status|length }
  M117 Page { get_variable("page_number") } of { number_of_pages }
  {% do start_routine("trigger_full_update") %} # Refresh displayed variables on page
run_as_gcode: true

[t5uid1_routine __filament]
trigger: enter_pre
page: filament
script:
  {% set t5uid1 = printer.t5uid1 %}
  {% do set_variable("filament_extruder", t5uid1.constants.extruder_current) %}
  {% do set_variable("filament_length", 150) %}

[t5uid1_routine __filament_paused]
trigger: enter_pre
page: paused_print_adjust
script:
  {% set t5uid1 = printer.t5uid1 %}
  {% do set_variable("filament_extruder", t5uid1.constants.extruder_current) %}
  {% do set_variable("filament_length", 150) %}

[t5uid1_routine __pid]
trigger: enter_pre
page: pid
script:
  {% set t5uid1 = printer.t5uid1 %}
  {% do set_variable("pid_heater", t5uid1.constants.heater_h0) %}
  {% do set_variable("pid_temp", t5uid1.constants.temp_pla.hotend) %}

[t5uid1_routine __info]
trigger: enter_pre
page: info
script: {% do set_variable("debug_count", 0) %}

[t5uid1_routine __calibrate_rotation_distance]
trigger: enter_pre
page: RotDist_Test
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% else %}
    {% set current_rotation_dist = (get_printer_cfg_value("extruder", "rotation_distance") or "0.00") | round_up("0.01") %}
    {% set minimum_extrude_temp = get_printer_cfg_value("extruder", "min_extrude_temp")|int %}
    {% if current_rotation_dist == 0 %}
      M117 "not found: extruder rotation distance"  # Display Error message on printer LCD
    {% elif minimum_extrude_temp == 0 %}
      M117 "not found: min extrusion temp"  # Display Error message on printer LCD
    {% else %}
      {% do set_variable("current_rotation_distance", current_rotation_dist) %}
      {% do set_variable("min_extrusion_temp", minimum_extrude_temp + 5) %} # Add 5 deg buffer to min temp, to avoid error if temp varies below min value
      {% do set_variable("requested_extrude_distance", 100)|int %} # Set default to speed workflow
      {% do set_variable("initial_mark_distance", 120)|int %} # Set default to speed workflow
      {% do set_variable("subsequent_mark_distance", 20)|int %}  # set default to avoid "not defined" errors on 1st load of results page
      {% do set_variable("extrusion_path", 1)|int %} # set default to avoid "not defined" errors on 1st load of results page      
      {% do start_routine("trigger_full_update") %} # Refresh displayed variables on page (maybe redundant?)
      {% if printer.extruder.target|round|int < get_variable("min_extrusion_temp") %}
        M117 Set Temperature >= Min
      {% endif %}
    {% endif %}
  {% endif %}
run_as_gcode: true

[t5uid1_routine __test_rotation_distance]
trigger: enter_pre
page: RotDist_Results
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% else %}
    {% do start_routine("compute_rotation_distance") %}
  {% endif %}

[t5uid1_routine compute_rotation_distance]
trigger: manual
script:
  {% if is_busy() %}
    {% do set_message("Busy") %}
    { abort_page_switch() }
  {% else %}
    {% set current_rotation_dist = (get_printer_cfg_value("extruder", "rotation_distance")) | round_up("0.001") %}
    {% do set_variable("current_rotation_distance", current_rotation_dist) %}
    {% set previous_rotation_dist = get_variable("current_rotation_distance") | float %}
    {% set requested_extrude_dist = get_variable("requested_extrude_distance") | float %}
    {% set initial_mark_dist = get_variable("initial_mark_distance") | float %}
    {% set subsequent_mark_dist = get_variable("subsequent_mark_distance",initial_mark_dist - requested_extrude_dist) | float %}
    {% set actual_extrude_dist = initial_mark_dist - subsequent_mark_dist | float %}
    {% set new_rotation_dist = (previous_rotation_dist * actual_extrude_dist / requested_extrude_dist) | round_up("0.001") %}
    {% do set_variable("new_rotation_distance", new_rotation_dist) %}
  {% endif %}