#Include this cfg if using a simple switch-type filament runout sensor (like the stock sensor)
[filament_switch_sensor RunoutSensor]
pause_on_runout: False
runout_gcode: 
  M600
  M117 No Filament detected
insert_gcode:
  M117 Filament detected
switch_pin: ^!PC15
