# USE THIS CFG FILE TO NAME THE MACROS (OR KLIPPER COMMANDS) THAT YOU WANT TO BE ABLE TO DISPLAY/SELECT/RUN FROM THE NAMED DGUS-Reloaded MENU
# THE MACROS MUST BE LOADED BY KLIPPER AND REGISTERED AT STARTUP

# List each macro name on a separate line
# MAX 9 displayed lines per menu page, no limit on the number of pages
# Any macro or command name can be longer than 32 characters, but the DWIN_SET firmware can only display the first 32 characters

# List the macros in the order that you want them to be displayed
# USEAGE EXAMPLE:
# [Setup Macros]
# RUNOUT_ON
# RUNOUT_OFF

# WARNING: USER IS RESPONSIBLE FOR ALL CONSEQUENCES OF RUNNING THESE MACROS.  
#    DGUS_RELOADED MAKES NO "SANITY CHECKS" AT RUN TIME!
# WARNING: DO NOT [include] this file into printer.cfg!!
# WARNING: DO NOT ADD ANY COMMENTS BESIDE THE SECTION NAMES OR CHANGE THE SECIION NAMES OR THE MACRO LIST WILL COME UP EMPTY

# Accessed from the Home Menu (Screen 001)
[Home]
REPORT_FILAMENT_SENSOR_ENABLE_STATUS
TEST_EXTENDED_RESPOND
FIRMWARE_RESTART

# Accessed from the SetUp menu (Screen 018)
[SetUp Macros] 
REPORT_FILAMENT_SENSOR_ENABLE_STATUS
SAVE_CONFIG
FIRMWARE_RESTART

# Accessed from the Calibrate menu (Screen 009)
[Calibrate Macros]
RUN_ABL_COLD
RUN_ABL_BED_60
RUN_ABL_BED_80
RUN_ABL_BED_95
FIRMWARE_RESTART

# Accessed from the Prepare menu (Screen 006)
[Prepare Macros]
FIRMWARE_RESTART

# Accessed from the Print Menu (Screen 016) and Print Finished Menu (Screen 004)
[Print Macros]
LED_ON
LED_OFF
RUNOUT_ON
RUNOUT_OFF
UNLOAD_FILAMENT
LOAD_FILAMENT
FIRMWARE_RESTART

# Accessed from the Print Tune menu (Screen 003)
[Active Print Macros]
FIRMWARE_RESTART

# Accessed from the Print Paused menu (Screen 007), Print Paused Tune menu (Screen 011)
[Paused Print Macros]
M600
FIRMWARE_RESTART