[filament_motion_sensor RunoutSensor]
detection_length: 15.0
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.
extruder: extruder
#   The name of the extruder or extruder_stepper section this sensor
#   is associated with. This parameter must be provided.
switch_pin: ^!PC15
pause_on_runout: True
runout_gcode: 
  M600
  M117 Filament problem!
insert_gcode:
  M117 Filament detected
#event_delay:
#pause_delay: