[t5uid1]
# Configured to describe the CR6-SE test printer
firmware: dgus_reloaded
# software_version: D-R_CR6_v1.2.9
machine_name: CR6-SE_Klipper
#   The machine name shown on the information page.
brightness: 100
#   The default brightness for the touchscreen (as a value from 0 to 100).
boot_sound: -1
#   Disable music playback (The CR6 DWIN display has a buzzer, not a speaker, it can not support music playback)
volume: 100
#   The default volume for the touchscreen buzzer (as a value from 0 to 100).
x_min: -2  # My printer's nozzle happens to be ~2mm to the left of the bed, when homed.
#   This can be used to provide a lower limit (in mm) to X moves done using the
#   touschreen. Movements will still be limited by your [stepper_x]
#   configuration values.
x_max: 235
#   This can be used to provide an upper limit (in mm) to X moves done using the
#   touschreen. Movements will still be limited by your [stepper_x]
#   configuration values.
y_min: -2.1  # I happen to be chasing a bug in which the printer sometimes throws a "movemement out of range" error with the Y location = -2.006mm...
#   Same as x_min for the Y axis.
y_max: 235
#   Same as x_max for the Y axis.
z_min: 0
#   Same as x_min for the Z axis.
z_max: 250
#   Same as x_max for the Z axis.

# NOTE: As of v1.3.6 of the DGUS-Reloaded Klipper Component, Material Presets are stored in presets.cfg and can be managed via the SetUp menu or by editing the presets.cfg text file.
# The original Material temperature preset values are still also defined in dgus_reloaded/__init__.py, as follows:
#    'temp_pla': {
#        'hotend': 210,
#        'bed': 60
#    },
#    'temp_abs': {
#        'hotend': 240,
#        'bed': 90
#    },
#    'temp_petg': {
#        'hotend': 225,
#        'bed': 80
#    },
# The firmware will still use those original values as "Read-Only" settings, in the event that the file presets.cfg is not installed.
# You can use a text editor to edit the __init__.py file, to change the above values.
#================


[save_variables]
filename: /home/pi/klipper/klippy/extras/t5uid1/dgus_reloaded/variables.cfg

[gcode_macro SET_DISABLE_PAUSE_STOP]
description: Saves a control variable tested by dgus_reloaded vars_in.cfg before processing PAUSE and STOP commands
gcode: 
    {% set svv = printer.save_variables.variables %}
    SAVE_VARIABLE VARIABLE=disable_pause_stop VALUE=True
    M117 PAUSE and STOP suspended

[gcode_macro CLEAR_DISABLE_PAUSE_STOP]
description: Saves a control variable tested by dgus_reloaded vars_in.cfg before processing PAUSE and STOP commands
gcode: 
    {% set svv = printer.save_variables.variables %}
    SAVE_VARIABLE VARIABLE=disable_pause_stop VALUE=False
    M117 PAUSE and STOP restored

[gcode_macro START_COUNTDOWN_TIMER]
description: Saves a control variable tested by dgus_reloaded vars_out.cfg before updating the Estiamted Print Time Remaining parameter
gcode: 
    {% set svv = printer.save_variables.variables %}
    SAVE_VARIABLE VARIABLE=start_countdown_timer VALUE=True

[gcode_macro STOP_COUNTDOWN_TIMER]
description: Saves a control variable tested by dgus_reloaded vars_out.cfg before updating the Estiamted Print Time Remaining parameter
gcode: 
    {% set svv = printer.save_variables.variables %}
    SAVE_VARIABLE VARIABLE=start_countdown_timer VALUE=False

[gcode_macro RUNOUT_ON]
gcode:
  SET_FILAMENT_SENSOR_BASE SENSOR=RunoutSensor ENABLE=1
  {% set svv = printer.save_variables.variables %}
  SAVE_VARIABLE VARIABLE=enable_runout_sensor VALUE=1
  REPORT_FILAMENT_SENSOR_ENABLE_STATUS

[gcode_macro RUNOUT_OFF]
gcode:
  SET_FILAMENT_SENSOR_BASE SENSOR=RunoutSensor ENABLE=0
  {% set svv = printer.save_variables.variables %}
  SAVE_VARIABLE VARIABLE=enable_runout_sensor VALUE=0
  REPORT_FILAMENT_SENSOR_ENABLE_STATUS

[gcode_macro SET_FILAMENT_SENSOR]
description: Sets the filament sensor on/off, based on Saved variable enable_runout_sensor in variables.cfg
rename_existing: SET_FILAMENT_SENSOR_BASE
gcode:
  {% set svv = printer.save_variables.variables %}
  {% if svv.enable_runout_sensor==0 %}
    RUNOUT_OFF
  {% elif svv.enable_runout_sensor==1 %}
    RUNOUT_ON
  {% endif %}
