# USE THIS CFG FILE TO NAME THE MACROS YOU WANT TO BE ABLE TO DISPLAY/SELECT/RUN FROM THE NAMED DGUS-Reloaded MENU
# THE MACROS THEMSELVES MUST EXIST AND MUST BE ENTERED INTO EITHER: printer.cfg or CR6.cfg, or DGUS_Reloaded.cfg

# List each macro name on a separate line
# MAX 10 displayed lines per menu
# No individual macro name or heading should be more than 32 characters long
# If a macro's name must be more than 32 characters long, it will be split over multiple lines, for display
# List the macros in the order that you want them to be displayed
# USEAGE EXAMPLE:
# [Setup Macros]
# RUNOUT_ON
# RUNOUT_OFF

# WARNING: USER IS RESPONSIBLE FOR ALL CONSEQUENCES OF RUNNING THESE MACROS.  
#    DGUS_RELOADED MAKES NO "SANITY CHECKS" AT RUN TIME!
# WARNING: DO NOT [include] this file into printer.cfg!!

[SetUp Macros]
REPORT_FILAMENT_SENSOR_ENABLE_STATUS

[Calibrate Macros]
RUN_ABL_COLD
RUN_ABL_BED_60
RUN_ABL_BED_80
RUN_ABL_BED_95

[Prepare Macros]


[Active Print Macros]
M600

[Paused Print Macros]
M600